<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <nav>

      <div class='container'>
        <div class='nav-wrapper'>
<a href='#' class='brand-logo'>Logo</a>
<ul id='nav-mobile' class='right hide-on-med-and-down'></ul>
<li><a href='#'>Open1</a></li>
<li><a href='#'>Open2</a></li>
<li><a href='#'>Open3</a></li>
</ul>
        </div>
        </div>
    </nav>
    <div class="container">
    {{{body}}}
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
